.portfolio{
    background-color: white;
    width: 100vw;
    height: calc(100vh - 70px);
     /*scroll-snap-align: start;*/
    padding-top: 100px;
    padding-bottom: 475px;
    overflow: visible;
}



.vertical-timeline-element--work h6{
    font-weight: 400;
    padding-bottom: 10px;
    font-size: 13px;
    color: #052e94;
}

.vertical-timeline-element--work h5{
    font-weight: 375;
    font-size: 15px;
    color: black;
}
.vertical-timeline-element-title{
    font-weight: 400;
    font-size: 18px;
    color: #15023a;
}

.vertical-timeline-element-subtitle{
   font-weight: 375;
   font-size: 15px;
   color: #527ae0;
   padding-bottom: 10px;
}

@media only screen and (max-width:1300px){
    .portfolio{
      padding-bottom: 600px;
    }
}



@media only screen and (max-width:850px){
  .portfolio{
    padding-bottom: 150px;
  }
}

@media only screen and (max-width: 500px){
    .portfolio{
      padding-bottom: 500px;
    }
}


@media only screen and (max-width: 450px){
    .skills2 h1{
        font-size: 30px;
    }
}


@media only screen and (max-width: 380px){
    .portfolio{
      padding-bottom: 350px;
    }
    .portfolio{
      margin-bottom: 60%;
    }
}

