.skills{
    background-color: white;
    color: #15023a;
    width: 100vw;
    height: calc(100vh - 70px);
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    padding-bottom: 75px;
}


.skills .wrapper{
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 20px;
    background-color: rgba(241, 240, 240, 0.995);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.skills .top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
}

.skills h1{
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 10px;
    overflow: hidden;
}

.skills .test{
    height: 40%;
    font-weight: 300;
    font-size: 24px;
    overflow: hidden;
}

.skills .left{
    flex: 0.33;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    margin-right: 30px;
    /*border-right: 1px solid white;*/
}

.skills .middle{
    flex: 0.33;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /*border-right: 1px solid white;*/
}

.skills .right{
    flex: 0.33;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}


.skills .skill{
    width: 60%;
    margin: 20px;
    justify-content: center;
    color: #15023a;
}

.skills .skill i{
    font-size: 70px;
}

.skills .text{
    font-size: 20px;
    align-items: center;
    color: #15023a;
}


.skills .python{
    color: rgb(9, 175, 9);
}

.skills .c{
    color: #5b88fa;
}

.skills .css{
    color: rgb(10, 85, 171);
}


.skills .git{
    color: rgb(152, 44, 152);
}
.skills .react{
    color : #09c7f7;
}

.skills .js{
    color: rgb(222, 180, 13);
}

@media only screen and (max-width: 860px) {
   .skills .text{
       font-size: 15px;
   }
   .skills .test{
       font-size: 17px;
   }
  }

  @media only screen and (max-width: 670px) {
    .skills .skill i{
         font-size: 50px;
    }

    .skills .text{
        font-size: 8px;
    }

    .skills h1{
        font-size: 30px;
    }

    .skills .test{
        font-size: 12px;
    }
   }


   @media only screen and (max-width: 440px) {
    .skills h1{
        font-size: 25px;
    }

    .skills .test{
        font-size: 10px;
    }
   }
