.intro{
   background-color: white;
    width: 100vw;
    height: calc(100vh - 70px);
    scroll-snap-align: start;
    display: flex;
    color: #15023a;
    flex-direction: row;
}

.intro .left{
    flex: 0.4;
    background-color: white;
    overflow: hidden;
}

.intro .left .imgContainer{
    width : 530px;
    height: 530px;
    background-color: #5c84e9;
    border-radius: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    float:right;
}

.intro .left .imgContainer img{
    height: 100%;
}

.intro .right{
    flex: 0.6;
    position: relative;
    overflow-y: hidden;
}

.intro .right .wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro .right .wrapper h1{
    font-size: 60px;
    margin: 10px 0;
    font-weight: 500;
}
.intro .right .wrapper h2{
    font-size: 35px;
    font-weight: 500;
}
.intro .right .wrapper h3{
    font-size: 30px;
    font-weight: 300;
}

.intro .right .wrapper span{
   font-size: 30px;
   color: #255ff1;
}

.intro .right a{
    position: absolute;
    bottom: 10px;
    left: 50%;
}

.intro .right img{
    width: 30px;
}

@media only screen and (max-width: 910px){
    .intro .right .wrapper h1{
        font-size: 50px;
    }

    .intro .right .wrapper h2{
        font-size: 35px;
    }

    .intro .right .wrapper h3{
        font-size: 25px;
    }

    .intro .right .wrapper span{
        font-size: 25px;
     }
}

@media only screen and (max-width: 1230px){
    .intro .left{
        justify-content: end;
        align-items: center;
    }

    .intro .left .imgContainer{
        height: 425px;
        width: 425px;
    }
}

@media only screen and (max-width : 1072px) {
    .intro{
        flex-direction: column;
    }

    .intro .left{
        flex: 0.65;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .intro .left .imgContainer{
          height : 350px;
          width: 350px;
    }

    .intro .right {
        flex: 0.35;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .intro .right img{
       visibility: hidden;
    }
}


@media only screen and (max-width: 430px){
    .intro .right .wrapper h1{
        font-size: 40px;
    }

    .intro .right .wrapper h2{
        font-size: 30px;
    }

    .intro .right .wrapper h3{
        font-size: 20px;
    }

    .intro .right .wrapper span{
        font-size: 20px;
     }
}