.intro{
   background-color: white;
    width: 100vw;
    height: calc(100vh - 70px);
    scroll-snap-align: start;
    display: flex;
    color: #15023a;;
}

.intro .left{
    flex: 0.5;
    background-color: white;
    overflow: hidden;
}

.intro .left .imgContainer{
    width : 700px;
    height: 700px;
    background-color: #5c84e9;
    border-radius: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    float:right;
}

.intro .left .imgContainer img{
    height: 90%;
}

.intro .right{
    flex: 0.5;
    position: relative;
}

.intro .right .wrapper{
    width: 100%;
    height: 100%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro .right .wrapper h1{
    font-size: 60px;
    margin: 10px 0;
    font-weight: 500;
}
.intro .right .wrapper h2{
    font-size: 35px;
    font-weight: 500;
}
.intro .right .wrapper h3{
    font-size: 30px;
    font-weight: 300;
}

.intro .right .wrapper span{
   font-size: 30px;
   color: #255ff1;
}

.intro .right a{
    position: absolute;
    bottom: 10px;
    left: 50%;
}

.intro .right img{
    width: 30px;
}