.App{
    height: 100vh;
}

::selection {
    background: yellow;
  }

.sections{
    width: 100%;
    height: calc(100vh - 70px);
    background-color: aqua;
    position: relative;
    top: 70px;
    /*scroll-snap-type: y mandatory;
    scrollbar-width: none; 
    scroll-behavior: smooth;*/
}

/*::-webkit-scrollbar{
    display: none;
}*/

