.work{
    background-color: white;
    width: 100vw;
    height: calc(100vh - 70px);
    /*scroll-snap-align: start;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: visible;
    scrollbar-width: none;
}

::-webkit-scrollbar{
    display: none;
}

.project{
    width: 750px;
    margin-bottom: 40px;
    /*box-shadow: 0 4px 8px 0 #15023a;
    border-: 1px solid #15023a;
    border-radius: 10px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.html{
    color: orangered;
}

.css{
    color: rgb(4, 91, 204);
}

.js{
    color: rgb(247, 171, 30);
}

.java{
    color: red;
}

.react{
    color:rgb(4, 197, 251);
}

.sql{
    color: #15023a;
}

.tf{
    color: black;
}

.junit{
    color: green;
}

.work h2{
    font-weight: 300;
    color : #052c8d;
}

.work p{
   color: #15023a;
   font-weight: 300;
   margin-bottom: 10px;
}

.work button{
    font-size: 24px;
    background-color: white;
    color: #15023a;
    border: 2px solid #15023a;
    font-weight: 300;
    margin-bottom: 25px;
    margin-right: 15px;
}

.work button:hover {
   font-weight: 400;
}
.work h1{
    color:#15023a;
    font-size: 30px;
    font-weight: 375;
    margin-bottom: 10px;
}

.work .big{
   font-size: 50px;
   font-weight: 375;
   margin-bottom: 10px;
}

.work .big2{
    color: #15023a;
    font-size: 27px;
    font-weight: 375;
    margin-bottom: 70px;
}


@media only screen and (max-width : 800px) {
    .work .big{
        font-size: 35px;
    }
    .work .big2{
        font-size: 20px;
    }
    .project{
        width : 400px;
    }
}

@media only screen and (max-width : 450px) {
    .work .big{
        font-size: 27px;
    }
    .work .big2{
        font-size: 15px;
    }
    .project{
        width : 300px;
    }
}



