.work{
    background-color: #0b192f;
    color: #ccd6f6;
    width: 100vw;
    height: calc(100vh - 70px);
    /*scroll-snap-align: start;*/
    overflow: visible;
    text-align: center;
    align-items: center;
}


p{
    font-size: 20px;
}

::-webkit-scrollbar{
    display: none;
}

.project{
    width: 750px;
    margin: 0 auto;
    margin-bottom: 40px;
    /*box-shadow: 0 4px 8px 0 #ccd6f6;
    border-: 1px solid #ccd6f6;
    border-radius: 10px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.icon-link{
    font-size: 12px;
}

.html{
    color: orangered;
}

.css{
    color: rgb(4, 91, 204);
}

.js{
    color: rgb(247, 171, 30);
}

.ts{
    color: rgb(4, 91, 204);  
}

.fb{
    color:  rgb(247, 171, 30);
}

.java{
    color: red;
}

.react{
    color:rgb(4, 197, 251);
}

.sql{
    color: #ccd6f6;
}

.tf{
    color: #ccd6f6;
}

.junit{
    color: green;
}

.work h2{
    font-weight: 300;
    color : #ccd6f6;
}

.work p{
   color: #8892b0;
   font-weight: 300;
   margin-bottom: 10px;
}

.work button{
    text-align: center;
    display: inline-block;
    font-size: 18px;
    background-color:#0b192f;
    color: #4a9fef;
    border: 1px solid #4a9fef;
    border-radius: 5px;
    font-weight: 300;
    margin-bottom: 30px;
    margin-right: 15px;
    transition: all 0.75s ease;
}

.work button:hover {
   color: #ccd6f6;
   border: 1px solid #ccd6f6;
}
.work h1{
    color:#ccd6f6;
    font-size: 27px;
    font-weight: 375;
    margin-bottom: 10px;
}

.add-padding {
    padding-top: 5px;
    padding-bottom: 5px;
}

.add-padding-other{
    justify-content: center;
    vertical-align: middle;
    display: inline-block;
    padding-bottom: 2px;
    padding-top: 2px;
}

.work .big{
   font-size: 40px;
   color: #4a9fef;
   font-weight: bold;
   margin-bottom: 10px;
}

.icon{
    font-size: 0.75em;
}

.work .big2{
    color: #ccd6f6;
    font-size: 30px;
    font-weight: 375;
    margin-bottom: 70px;
}



@media only screen and (max-width : 800px) {
    .work .big{
        font-size: 35px;
    }
    .work .big2{
        font-size: 25px;
    }
    .project{
        width : 500px;
    }
}

@media only screen and (max-width : 450px) {
    .work .big{
        font-size: 27px;
    }
    .work .big2{
        font-size: 20px;
    }
    .project{
        width : 300px;
    }
}



